@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;

}

/* navbar style start here  */
.header-container {
    width: 1440px;
}

.container {
    width: 90%;
    margin: 2rem auto;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: 800;
    text-align: left;
    color: rgb(230, 83, 60);
}

.nav-options {
    color: rgba(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 700;
    cursor: pointer;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 1.5rem;
    padding: 0.8rem;
}

.span {
    background: rgb(230, 83, 60);
    border-radius: 46px;
    color: white;
    padding: 5px 20px;
}

/* shape and healthy section style start */
.healthy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 2rem auto;
    height: 740px;
}

.healthy-description h1 {
    color: rgba(255, 255, 255);
    font-size: 4rem;
    font-weight: 900;
    line-height: 120%;
}

.shape {
    font-style: italic;
}

.healthy-description p {
    color: rgba(255, 255, 255, 0.5);
    width: 520px;
    height: 48px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: left;
    letter-spacing: 0.5px;
    margin: 1.75rem 0;
}

.btn-primary {
    border-radius: 3rem;
    background: rgb(230, 83, 60);
    border: none;
    padding: 0.5rem 1rem;
}

.btn-download {
    color: white;
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    /* border: 1px solid black; */
    border-radius: 3rem;
    /* padding: 0.5rem 1rem; */
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
}


/* change your habit area style here  */
.habit-container {
    width: 1044px;
    height: 452px;
}

.your-habit-description {
    text-align: center;
}

.your-habit-description h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}

.your-habit-description p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    margin-top: 1rem;
}

.fitness-description {
    text-align: center;
    width: 231px;
    height: 64px;
    margin-top: 1.2rem;
}

.fitness-container {
    margin-top: 3.5rem;
    margin-left: 2rem;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: repeat(4, 1fr); */
    /* display: flex; */
}

.fitness-image {
    width: 231px;
    height: 274px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    text-align: center;
}

.fitness-image img {
    border-radius: 50%;
    /* width: 12rem;
    height: 10rem; */
    left: -11.5px;
}

.fitness-image {
    text-align: center;
}

.fitness-description h3 {
    color: rgba(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 120%;
    /* margin-left: 2.5rem; */
}

.fitness-description p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;

}

/* run an extra mile section style start  */
.run-container {
    background: rgb(34, 34, 34);
    border-radius: 18px;
    padding: 25px;
    margin: 0px 50px;
    position: static;
    display: flex;
    justify-content: space-between;
    width: 1060px;
    height: 371px;
}

.run-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* margin: 62px 0; */
    width: 45%;
    height: 312px;
}

.run-description h1 {
    width: 70%;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}

.run-description p {
    width: 95%;
    height: 4rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0.8rem;
}

.btn-primary {
    color: rgb(255, 255, 255);
    padding: 1rem 2.8rem;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 15px;
}

.run-img img {
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
}

/* bmi calculator area style start  */
.bmi-calculator {
    /* position: static; */
    width: 671px;
    height: 120px;
    margin-left: 225px;
    margin: 7rem 12rem;
}

.bmi-calculator h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 0.8rem;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    /* text-align: left; */
}

.bmi-calculator p {
    color: rgba(255, 255, 255, 0.5);
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
}

.calculate-bmi-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3rem 0;
}

.bmi-calculator-container {
    display: flex;
    justify-content: space-around;
    margin: 0 6rem;
}

td {

    font-size: 1rem;
    font-weight: 500;
}

.bmi-calculator-title {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 2.5rem;
}

td,
th {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 8px;
    border-collapse: collapse;
    color: rgba(255, 255, 255, 0.5);

}

.bmi-container-description {
    /* position: absolute; */
    width: 577px;
}

.bmi-container-description p {
    color: rgba(255, 255, 255, 0.5);
    width: 577px;
    height: 48px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}

.bmi-input {
    /* margin-top: 2rem;
    border-radius: 8px;
    background: rgb(255, 255, 255, 0.2);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(4px); */
    /* border: 1px solid tomato; */
}

.input-1 {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    width: 44%;
    padding: 12px 14px;
    margin: 10px 0;
    /* border: none; */
}

.select-1 {
    width: 49%;
    color: rgba(255, 255, 255, 0.5);
}

.select-2 {
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
}

/* meet your team area start  */
.meet-our-team-container {
    text-align: center;
    margin: 6rem 0 4rem 0;
}

.meet-our-team-description h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}

.meet-our-team-description p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    margin-top: 1rem;
}

.trainer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.trainer-container img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.trainer-description {
    padding-bottom: -10rem;
}

/* footer area start  */
.footer {
    background-color: black;
    color: white;
}

.footer-description {
    margin-left: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem 0;
}

.footer-fitness h1 {
    font-size: 3rem;
    font-style: italic;
    color: rgb(230, 83, 60);
}

.footer-fitness p {
    font-size: 0.8rem;
}

.footer-get-started h3 {
    font-size: 1.5rem;
}

.footer-get-started p {
    margin: 8px 0;
    color: rgba(255, 255, 255, 0.5);
}

.footer hr {
    width: 80%;
    margin-left: 130px;
}

.footer small {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

/* practice */
.photo {
    width: 340px;
    height: 300px;
    /* border: 1px solid tan; */
    background-image: url(../images/trainer1.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0.8rem;
}

.photo1 {
    background-image: url(../images/trainer20.png);
    width: 340px;
    height: 340px;
    background-repeat: no-repeat;
    background-size: contain;
}

.photo2 {
    background-image: url(../images/trainer3.png);
    width: 340px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}

.photo3 {
    background-image: url(../images/trainer4.png);
    width: 340px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.photo4 {
    background-image: url(../images/trainer5.png);
    width: 340px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}

.photo5 {
    background-image: url(../images/trainer6.png);
    width: 340px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}

.photo h1 {
    display: flex;
    margin-top: 15rem;
    padding-left: 0.8rem;
    color: rgba(255, 255, 255);
}

.photo p {
    color: rgba(255, 255, 255, 0.5);
    padding-left: 0.8rem;
    padding-bottom: 0.8rem;
}

.photo-container {
    width: 69rem;
    margin: 0 9rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.8rem;
    border-radius: 0.8rem;
}

/* practice style */
.our-team-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1100px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.8rem;
    border-radius: 0.8rem;
    gap: 20px;
    margin-left: 80px;
}
.photo-container1{
    display: flex;
    margin-top: 2rem;
}
.image-container1{
    display: flex;
    width: 360px;
    height: 300px;
}
.image-container1 img{
    border-radius: 1.8rem;
}
.image-description1{
    color: antiquewhite;
    position: absolute;
    margin-top: 200px;
    margin-left: 1rem;
}





/* responsive layout start  */

/* small device start here  */

@media screen and (max-width: 576px) {
    .container{
        width: 100%;
    }
    .logo{
        font-size: 3rem;
        font-style: italic;
    } 
    .nav-options {
        visibility: hidden;
    }
    .healthy-description h1{
        font-size: 3rem; 
    }
    .healthy-description p{
        font-size: 1.2rem;
        line-height: 120%;
    }
    .healthy-container{
        margin-top: 9rem;
        margin-bottom: 7rem;
        flex-direction: column;
    }
    .your-habit-description{
        width: 85%;
    }
    .your-habit-description h1{
        font-size: 2rem;
    }
    .image-container img{
        border: 3px solid rgba(255, 255, 255, 0.5);
    }
    
    .fitness-image{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 8.2rem;
    }
    .run-container{
        display: flex;
        flex-direction: column;
        margin-top: 55rem;
        width: 400px;
        height: 100%;
    }
    .run-description{
        display: flex;
        flex-direction: column;
    }
    .run-description h1{
        font-size: 2rem;
        width: 18rem;
    }
    .run-description p{
        font-size: 1.3rem;
        width: 23rem;
    }
    .run-description button{
        margin-top: 3.5rem;
        width: 24rem;
        padding: 1.3rem 0;
        font-size: 1.3rem;
    }
    .run-img img{
        margin-top: 0.5rem;
        width: 24rem;
        height: 250px;
        border-radius: 1rem;

    }
    
    .bmi-calculator-container{
        display: flex;
        flex-direction: column;
    }
    .bmi-calculator{
        width: 500px;
        margin: 1.5rem 0 3.5rem 1.5rem;
    }
    .bmi-calculator p{
        font-size: 1.2rem;
        line-height: 1.5rem;
        width: 25rem;
    }
    .bmi-calculator-container{
        width: 500px;
        margin-left: 1.5rem;
    }
    .bmi-container-description{
        width: 500px;
        margin-top: 2rem;
    }
    .bmi-container-description h3{
        font-size: 1.5rem;
    }
    .bmi-container-description p{
        width: 400px;
        font-size: 1.2rem;
    }
    .bmi-input{
        width: 85%;
        margin-top: 1.5rem;
    }
    .input-1{
        width: 40%;
    }
    .bmi-input1{
        width: 85%;
    }
    .bmi-input2{
        display: flex;
        flex-direction: column;
    }
    .select-1{
        width: 42%;
    }
    .select-2{
        width: 85%;
    }
    .btn-primary{
        width: 65%;
        font-size: 1.3rem; 
    }
    .meet-our-team-description h1{
        font-size: 2rem;
    }
    .meet-our-team-description p{
        font-size: 1.2rem;
        line-height: 2rem;
        width: 400px;
        margin-left: 4rem;
        text-align: center;
    }
    .photo-container{
        width: 400px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 4.5rem;
    }
    .photo{
        margin-left: 1.5rem;
        margin-top: 1rem;
        border-radius: 1rem;
    }
    .photo3{
        height: 400px;
    }
    .footer{
        width: 100%;
    }
    .footer hr{
        width: 5rem;
    }
    .footer-description{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        width: 40%;
    }

    
}